@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&display=swap');
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.detail, .plot {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the back side */
.plot {
	position:relative;
	background-color: #F9FCFF;
	display:flex;
	transform: rotateY(180deg);
	width: 100%;
	height:100%;
	bottom:100%;
	right:2%;
	border-radius:5px;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
	border-style:solid;
	border-color:black;
	border-width:5px;
}
.plot > span{
	color: black;
	font-size:1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	position:relative;
	left:1.5rem;
	line-height:1.5em;
	width:95%;
	display:flex;         /* ★ */
	align-items: center;
}
.movie-info{
	display: flex;
	justify-content: center;
	flex-flow: row;
	position:relative;
	width:95%;
	height:240px;
	left:2%;
	margin 0 0 3% 0;
}
.poster{
	max-width:auto;
	max-height:100%;
	position:relative;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
	border-radius:5px;
}
.detail{
	display:flex;
	flex-flow:column;
	background-color:#282e39;
	width:100%;
	position:relative;
	left:1.5%;
	border-radius:5px;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
}
.detail > .title{
	position:relative;
	font-size:26pt;
	//font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:white;
	line-height:0.1em;
	margin: 0 0 1rem 0;
	height:auto;	
}
.detail > .info{
	display:flex;
	justify-content:space-around;
	font-size:12pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#e3e3e3;
	line-height:0.1em;
	margin: 0 0 1rem 0;
}
.detail > .list{
	color:#c9c9c9;
	font-size:10pt;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	position:relative;
	right:4%;
	list-style:none;
	line-height:3em;
}
.rate{
	position:absolute;
	left:75%;
	top:85%;
	
}
.rate > span{
	font-size:15pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	letter-spacing:0;
	color:#e3e3e3;
	margin:-10px 0 0 5px;
}
.rate > i{
	color:orange;
	transform:scale(0.8);
}
@media screen and (max-width: 600px){
	.flip-card:active .flip-card-inner {
		transform: rotateY(180deg);
	}
    .movie-info{
        display:block;
		left:0%;
		height:auto;
    }
	.poster{
		left:25%;
		width:50%;
	}
	.detail{
		left:2.8%;
	}
	.detail > .title{
		font-size:2.5rem;
	}
	.detail > .info{
		font-size:1.25rem;	
	}
	.detail > .list{	
		font-size:1rem;
		line-height:2.5em;
	}
	.rate{
		left:65%;
		top:82%;
	}
	.rate > span{
		font-size:2rem;
	}
}